<!DOCTYPE html>
<html>
  
  <head>
    <title>Brian's Sample Etsy Page</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,300" rel="stylesheet">
  </head>

  <body>
    <div id="logo-search">
      <ul class="left">
        <li><div id="logo"><img src="http://i.imgur.com/pHJ2djt.png"></div></li>
        <li>
          <div class="search-bar">
            <div><span class="query">whiskey</span></div>
            <div class="cta-button" id="search-button"><span class="search">Search</span></div>
          </div>
        </li> 
      </ul>
      <ul class="right">
      <li><img src="http://i.imgur.com/2ke1e9P.png"></li>
        <li><div><a class="link" href="http://etsy.com">Sell on Etsy</a></div></li>
      </ul>
    </div>
    <div class="nav">
      <ul class="nav-items">
        <li><a href="http://etsy.com">Clothing & Accessories</a></li>
        <li><a href="http://etsy.com">Jewelry</a></li>
        <li><a href="http://etsy.com">Craft Supplies & Tools</a></li>
        <li><a href="http://etsy.com">Weddings</a></li>
        <li><a href="http://etsy.com">Entertainment</a></li>
        <li><a href="http://etsy.com">Home & Living</a></li>
        <li><a href="http://etsy.com">Kids & Baby</a></li>
        <li><a href="http://etsy.com">Vintage</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <section class="search-results">
          <li><span>Show results for:</span></li>
        </section>
        <section class="breadcrumbs" id="relevancy">
          <li>
            <span>Sort by: <a class="link" href="http://etsy.com">Relevancy</a></span>
          </li>
        </section>
        <section class="breadcrumbs" id="results_num">
          <li>
            <span><a class="link" href="http://etsy.com">All Categories</a> > <strong>"whiskey"</strong> (<%= results_num %> Results)</span>
          </li>
        </section>
        
      </ul>
    </div>
    
    <div class="categories">
      <ul>
        <li><span>All Categories</span></li>
        <li><a class="link" href="http://etsy.com">Accessories</a></li>
        <li><a class="link" href="http://etsy.com">Home & Living</a></li>
      </ul>
    </div>
    
    <div class="refine">
      <span class="heading">Refine your search</span>
      <div class="refine-search">
        <section>
          <ul>
            <li class="l-header" id="first"><span>Item Type</span></li>
            <li>
                <div class="inner-circle">
                </div>
                <div class="inner-inner-circle">
                  </div>
              <span><a class="selected-filter" href="http://etsy.com">All Items</a></span></li>
            </li>
            <li>
              <div class="outer-circle"></div></li><span><a class="link" href="http://etsy.com">Handmade</a></span>
            </li>
            <li>
              <div class="outer-circle"></div><span><a class="link" href="http://etsy.com">Vintage</a></span>
            </li>
          </ul>
        </section>
        <div class="line-separator">
          <p></p>
        </div>
        <section>
          <ul>
            <li class="l-header"><span>Price</span></li>
            <li>
              <div class="price-box-a"><p>$ <span>Low</span></p></div>
            </li>
            <li><div class="price-box-b"><span class="price-span">to</span></div></li>
            <li>
              <div class="price-box-a"><p>$ <span>High</span></p></div>
            </li>
            <li>
              <div class="price-box-c"><div><p>></p></div></div>
            </li>
          </ul>
          <div class="section-end"></div>
        </section>
        <div class="line-separator">
          <p></p>
        </div>
        <section>
          <ul>
            <li class="l-header"><span>Filter by Color</span></li>
            <li><div class="color" id="red"></div></li>
            <li><div class="color" id="orange"></div></li>
            <li><div class="color" id="yellow"></div></li>
            <li><div class="color" id="green"></div></li>
            <li><div class="color" id="blue"></div></li>
            <li><div class="color" id="purple"></div></li>
            <li><div class="color" id="black"></div></li>
            <li><div class="color" id="white"></div></li>
          </ul>
        </section>
        <div class="section-end"></div>
        <div class="line-separator">
          <p></p>
        </div>
        <section id="ordering">
          <ul>
            <li class="l-header"><span>Ordering Options</span></li>
            <li>
              <div class="check-box"></div><span><a class="link" href="http://etsy.com">In Your Favorites</a></span>
            </li>
            <li>
              <div class="check-box"></div><span><a class="link" href="http://etsy.com">Accepts Etsy Gift Cards</a></span>
            </li>
            <li>
              <div class="check-box"></div><span><a class="link" href="http://etsy.com">Customizable</a></span>
            </li>
          </ul>
        </section>
        <div class="line-separator">
          <p></p>
        </div>
        <section id="shop">
          <ul>
            <li class="l-header"><span>Shop Location</span></li>
            <li>
              <ul>
                <li><div class="outer-circle"><div class="inner-circle"></div></div></li>
                <li><span class="word"><a class="selected-filter" href="http://etsy.com">Anywhere</a></span></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><div class="outer-circle"></div></li>
                <li><span class="word"><a class="link" href="http://etsy.com">United States</a></span></li>
              </ul>
            </li>
            <li><a class="link" href="http://etsy.com">Choose a custom location</a></li>
          </ul>
        </section>
        <div class="line-separator">
          <p></p>
        </div>
        <section id="ship">
          <ul>
            <li class="l-header"><span>Ship To</span></li>
            <li>
              <div>
                <span>United States</span>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="block">
      <% results.each do |result| %>
        <section class="boxes">
          <div class="image">
            <a href="<%= result[:url] %>"><img src="<%= result[:image] %>"></a>
          </div>
          <div class="text">
            <span id="title"><%= result[:title] %></span>
            <span id="vendor"><%= result[:vendor] %></span>
            <span class="price"><%= result[:price] %> <%= result[:currency_code] %></span>
         </div>
        </section>
      <% end %>
      <div class="nav-arrows">
        <div class="change-page"><</div>
        <div class="change-page" id="number"><span>1</span></div>
        <div class="change-page">></div>
      </div>
      <div class="section-end"></div>
      </div>
      <div class="line-separator" id="final">
          <p></p>
      </div>
      <div class-"section-end"></div>
    <div id="footer">
      <div class="cta">
        <p>Get top trends and fresh editors' picks in your inbox with Etsy Finds.</p>
        <div class="cta-button" id="sub"><span>Subscribe</span></div>
      </div>
      <div class="footer-sitemap">
        <section>
          <p>Turn your passion into a business</p>
          <div class="cta-button" id="open"><span>Open a shop</span></div>
          <p>Sell on Etsy</p>
          <p><a class="link" href="http://etsy.com">Seller Handbook</a></p>
          <p><a class="link" href="http://etsy.com">Etsy credit card reader</a></p>
        </section>
        <section>
          <p>Join the community</p>
          <p><a class="link" href="http://etsy.com">Teams</a></p>
          <p><a class="link" href="http://etsy.com">Forums</a></p>
          <p><a class="link" href="http://etsy.com">Upcoming events</a></p>
          <p><a class="link" href="http://etsy.com">Affiliates</a></p>
        </section>
        <section>
          <p>Discover and shop</p>
          <p><a class="link" href="http://etsy.com">Gift cards</a></p>
          <p><a class="link" href="http://etsy.com">Blog</a></p>
          <p><a class="link" href="http://etsy.com">Tastemakers</a></p>
          <p><a class="link" href="http://etsy.com">Mobile apps</a></p>
          <p><a class="link" href="http://etsy.com">Gift registries</a></p>
          <p><a class="link" href="http://etsy.com">Wholesale</a></p>
          <p><a class="link" href="http://etsy.com">Manufacturing</a></p>
          <p><a class="link" href="http://etsy.com">Search</a></p>
          <p><a class="link" href="http://etsy.com">Etsy Finds</a></p>
        </section>
        <section>
          <p>Get to know us</p>
          <p><a class="link" href="http://etsy.com">About</a></p>
          <p><a class="link" href="http://etsy.com">Policies</a></p>
          <p><a class="link" href="http://etsy.com">Careers</a></p>
          <p><a class="link" href="http://etsy.com">Press</a></p>
          <p><a class="link" href="http://etsy.com">Developers</a></p>
          <p><a class="link" href="http://etsy.com">Investors</a></p>
        </section>
        <section class="sm">
          <p>Follow Etsy</p>
          <img class="sm-icon" src="">
          <p><a class="link" href="http://etsy.com">Facebook</a></p>
          <img class="sm-icon" src="">
          <p><a class="link" href="http://etsy.com">Twitter</a></p>
          <img class="sm-icon" src="">
          <p><a class="link" href="http://etsy.com">Pinterest</a></p>
          <img class="sm-icon" src="">
          <p><a class="link" href="http://etsy.com">Instagram</a></p>
        </section>
      </div>
    </div>
  </body>
</html>
